.button-primary{
    background-color: palevioletred;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.title-p1{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;

}
.description{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;

}
.part1{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0px 130px;
    margin: 0px;
}
.image-p1{
  width: 335px;
  height: 400px;

}
.titlepart2{
    text-align: center;
}
.flower-sample{
    height: 250px;
    width: 190px;
    align-items: center;
}
.flowers{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.allflower{
    text-align: center;
}
.menu-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(229, 84, 115, 0.10);
    margin: 0px;
    padding: 30px 30px 30px 30px;
   
}
.menu1{
    text-align: center;
    padding: 20px;
}
.menu2{
    width: 88px;
    height: 88px;
}
span{
    color: #E55473;
}
.menu-section-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 100px 30px 100px;
    background-color: #E554730D;
}
.menu-image{
    width: 250px;
    height: 220px;
}