.button-primary{
    background-color: palevioletred;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    align-items: center;
}
.title-p1{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;

}
.description{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;

}
.part1{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 0px 80px;
    margin: 0px;
}
.image-p1{
  width: 335px;
  height: 400px;

}
.titlepart2{
    text-align: center;
}
.flower-sample{
    height: 250px;
    width: 190px;
    align-items: center;
}
.flowers{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.allflower{
    text-align: center;
}
.menu-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(229, 84, 115, 0.10);
    background-position: center;
    margin:10px 50px 10px 10px ;
    padding: 30px 30px 30px 30px;
   
}
.menu1{
    text-align: center;
    padding: 20px;
}
.menu2{
    width: 88px;
    height: 88px;
}
span{
    color: #E55473;
}
.menu-section-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 150px 30px 150px;
    background-color: #E554730D;
    margin: 10px 50px 10px 10px;
}
.menu-image{
    width: 150px;
    height: 220px;
}
.menu-section2-text{
    text-align: center;
}
.ms3-title{
text-align: center;
}
.ms3-images{
    display: flex;
    padding: 20px 20px 20px 20px;
    width: 250px;
    height: 250px;
    
}
.ms3i{
    padding: 0px 20px 0px 20px;
}
.last{
    display: flex;
    align-items: center;
}
.menu-section-4{
    text-align: center;
    background-image: url("Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    margin: 20px 50px 20px 20px ;
    border-radius: 10px;
}
.hp{
    padding: 30px;
}
.box{
align-items: center;    
}